
.course-card {

  perspective: 1000px;


  &__link {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: 700ms;
  }

  &:hover {
    transform: scale(1.1);
    z-index: 10;
    box-shadow: 0 0 3px 3px rgba(20, 23, 28, 0.2), 0 5px 5px 0 rgba(20, 23, 28, 0.2);
    transition: 700ms;

    .course-card__body{
      transform: rotateY(180deg);
    }

    .course-card-modal {
      visibility: visible;
      //animation-delay: 250ms;
      transition: 500ms;
    }
  }



  &__body {
    display: flex;
    flex-direction: column;
    text-align: left;
    vertical-align: top;
    height: 335px;
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
    backface-visibility: hidden;
  }

  &__head {
    height: 120px;
    background-color: lightgray;
  }

  &__head-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 42px;
    font-size: 15px;
    color: #29303B;
    margin: 0 0 10px;
  }

  &__teacher {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: #686F7A;
  }


  &__rating-star {
    font-weight: 600;
    color: #505763;
  }

  &__rating-votes {
    ont-size: 12px;
    font-weight: 400;
    color: #686F7A;
    margin-left: 5px;
  }

  &__prices {
    text-align: right;
    margin: 0;
  }

  &__priceOld {
    color: #686F7A;
    font-size: 13px;
    margin-right: 10px;
    text-decoration: line-through;
    font-weight: 300;
  }

  &__price {
    font-size: 18px;
    color: #29303B;
    font-weight: 700;
  }
}

.course-card-modal {
  visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  //transition: 300ms;
  //display: flex;
  //flex-direction: column;
  //justify-content: space-between;
  //width: 140%;
  //height: 140%
   width: 100%;
  height: 100%;
  overflow: hidden;
  background: white;
  left: 0%;
  bottom: 0;
  //z-index: 100;
  box-shadow: 0 0 3px 3px rgba(20, 23, 28, 0.2), 0 5px 5px 0 rgba(20, 23, 28, 0.2);
  padding: 20px;
  border-radius: 5px;

  &__title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 15px;
    color: black;
  }

  &__category {
    font-size: 14px;
    color: #686F7A;
    margin: 0;
    padding-bottom: 10px;
  }

  &__description {
    font-size: 12px;
    color: #686F7A;
    margin: 0;
    padding-bottom: 10px;
  }
}
//
//@media (max-width: 600px) {
//  .course-card-modal {
//    display: none;
//  }
//}
