<div class="container">
    <div class="sub-nav-wrap">
        <a class="my-btn btn-back" routerLink="/teacher"><</a>
        <button (click)="updateCourse()" class="my-btn btn--save">SAVE</button>
    </div>

    <div class="" *ngIf="showSpinner===false; else spinner">
        <h2 class="course-builder__title">{{course.name}}</h2>

        <mat-tab-group>
            <mat-tab label="STUDENTS">
                <div *ngIf="!showStudentsSpinner ;  else spinner">
                    <ul *ngIf="students.length>0; else noStudents" class="course-builder__students">
                        <li *ngFor="let student of students; index as i" class="course-builder__student">
                            <span>{{i + 1 + '. ' + student.firstName + ' ' + student.lastName}}</span>
                        </li>
                    </ul>
                    <ng-template #noStudents>
                        <p>YOU HAVE NO STUDENTS YET.</p>
                    </ng-template>
                </div>
            </mat-tab>

            <mat-tab label="LESSONS">
                <ul class="course-builder__lessons" *ngIf="course.arrVideo">
                    <li class="course-builder__lesson" *ngFor="let lesson of course.arrVideo; index as i">
                        {{i + 1 + '. ' + lesson?.name}}
                        <label>
                            <input type="checkbox" [checked]="+lesson.public" disabled> Public
                        </label>
                    </li>
                </ul>
                <h3>ADD NEW LESSON:</h3>
                <div class="course-builder__uploadLesson-wrap">
                    <input [(ngModel)]="newLesson.name" class="course-builder__uploadLesson-theme" type="text" placeholder="lesson theme">
                    <label>
                        <input #checkbox type="checkbox" (click)="onPublicClick(checkbox)"> Public
                    </label>
                    <input class="course-builder__uploadLesson-file" #upLoadLesson type="file" accept='video/*' (change)="onChangeLessonFile(upLoadLesson.files)"/>
                    <span class="course-builder__uploadLesson-uploading" *ngIf="newLesson.uploading">Uploaded: {{newLesson.progress}}</span>
                    <button class="my-btn" (click)="onUpLoadLesson()">UPLOAD VIDEO</button>
                </div>
            </mat-tab>

            <mat-tab label="SETTINGS">
                <div class="course-builder__settings">
                    <div class="course-builder__settings-vars">
                        <p>COURSE NAME:</p>
                        <input class="course-builder__name" [(ngModel)]="course.name" name="name" type="text" required="required">
                        <p>COURSE DESCRIPTION:</p>
                        <textarea class="course-builder__description" [(ngModel)]="course.description" placeholder="PLEASE WRITE COURSE DESCRIPTION"></textarea>
                        <p>CARD THUMBNAIL IMAGE:</p>
                        <!--<span style="color:red;" *ngIf="message">{{message}}</span>-->
                        <input #thumbnailImg type="file" accept='image/*' (change)="onUpdateThumbnail(thumbnailImg.files)"/>
                    </div>
                    <div class="course-builder__settings-preview">
                        <app-course-card [course]="course"></app-course-card>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <ng-template #spinner>
        <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
    </ng-template>
</div>


