<div class="container">
    <div class="">
        <a class="my-btn btn-back" routerLink="/teacher"><</a>
        <button (click)="updateCourse()" class="my-btn">SAVE</button>
    </div>

    <div class="" *ngIf="showSpinner===false; else spinner">
        <h2 class="course-builder__title">{{course.name}}</h2>

        <mat-tab-group>
            <mat-tab label="STUDENTS">
                <div *ngIf="!showStudentsSpinner ;  else spinner">
                    <ul *ngIf="students.length>0; else noStudents" class="course-builder__students">
                        <li *ngFor="let student of students; index as i" class="course-builder__student">
                            <span>{{i + 1 +'. ' + student.firstName + ' ' + student.lastName}}</span>
                        </li>
                    </ul>
                    <ng-template #noStudents>
                        <p>YOU HAVE NO STUDENTS YET.</p>
                    </ng-template>

                </div>
            </mat-tab>
            <mat-tab label="CONTENT">Content OF THE COURSE</mat-tab>
            <mat-tab label="SETTINGS">
                <p>COURSE NAME:</p>
                <input class="course-builder__name" [(ngModel)]="course.name" name="name" type="text" required="required">
                <!--<input class="course-builder__description" [(ngModel)]="course.description" name="name" type="text" required="required">-->
                <p>COURSE DESCRIPTION:</p>
                <textarea class="course-builder__description" [(ngModel)]="course.description" placeholder="PLEASE WRITE COURSE DESCRIPTION"></textarea>

                <!--<img [src]="cardImgFile" alt="card image">-->
                <!--<input type="file" accept='image/*' (change)="onFileSelected($event)">-->

                <p>CARD PREVIEW IMAGE:</p>
                <span style="color:red;" *ngIf="message">{{message}}</span>
                <img [src]="imgURL" height="200" *ngIf="imgURL">
                <input #previewImg type="file" accept='image/*' (change)="onChangePreview(previewImg.files)"/>

            </mat-tab>
        </mat-tab-group>
    </div>
    <ng-template #spinner>
        <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
    </ng-template>
</div>


