<div @fade class="registration-wrap">
    <div class="registration">
        <h2 class="registration__title">Registration</h2>
        <div [formGroup]="userDataControl" class="registration__form">
            <label>
                <span class="registration__form-text">First Name *</span>
                <input type="text" formControlName="firstName">
            </label>
            <label>
                <span class="registration__form-text">Last Name *</span>
                <input type="text" formControlName="lastName">
            </label>
            <label>
                <span class="registration__form-text">Login *</span>
                <input type="text" formControlName="login">
            </label>
            <div class="registration__form-error" *ngIf="controls.login.errors &&  controls.login.errors.minlength">Login must be at least 4 characters</div>

            <label>
                <span class="registration__form-text">Email *</span>
                <input type="email" formControlName="eMail">
            </label>
            <label>
                <span class="registration__form-text">Password *</span>
                <input type="password" formControlName="password">
            </label>

            <label>
                <span class="registration__form-text">Confirm password *</span>
                <input type="password" formControlName="passwordConfirm">
            </label>
            <div class="registration__form-error" *ngIf="userDataControl.errors && userDataControl.errors.mustMatch">Passwords must match</div>

            <div class="registration-btn-wrap">
                <button (click)="cancel()" class="registration-btn">Cancel</button>
                <button (click)="registerUser()" class="registration-btn" [disabled]="userDataControl.invalid">Submit</button>
            </div>
            <p class="registration__form-comment">* required fields</p>
        </div>
    </div>
</div>
