header {
  background: #ff8a05;
}

.content {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-btn {
  padding: 10px;
  text-decoration: none;
  color: white;
  font-family: Arial;
  transition: 700ms;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 16px;

  &:hover {
    transition: 700ms;
    text-decoration: none;
    color: lightgray;
  }

  &.active {
    color: lightgray;
  }
}

.logo-link {
  text-decoration: none;
  color: white;
}

.logo {
  font-size: 48px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  padding-right: 40px;
}

.logo-online {
  position: absolute;
  right: 0;
  bottom: 29px;
  font-size: 12px;
  transform: rotate(-90deg);
}
