header {
  background: #ff8a05;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.auth-btn {
  padding: 10px;
  text-decoration: none;
  color: white;
  font-family: Arial;
  transition: 700ms;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 16px;

  &:hover {
    transition: 700ms;
    text-decoration: none;
    color: lightgray;
  }

  &.active {
    color: lightgray;
  }
}

.logo-link {
  text-decoration: none;
  color: white;
  transition: 700ms;
  &:hover{
    transform: scale(1.1);
    transition: 700ms;
  }
}

.logo {
  font-size: 48px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  padding-right: 40px;
}

.logo-online {
  position: absolute;
  right: 0;
  bottom: 29px;
  font-size: 12px;
  transform: rotate(-90deg);
}

.nav-profile{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;

  &__dropdown{
    position: relative;
    &.active{
      .nav-profile__dropdown-menu{
        display: flex;
        flex-direction: column;
        justify-content: right;
      }
    }

  }
  &__dropdown-toggle{
    padding: 0 0 0 30px;
    font-size: 18px;
    cursor: pointer;
    &:hover{
      color: white;
    }
  }
  &__dropdown-menu{
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    text-align: right;
    width: 150px;
    background: #ff8a05;
    border: 10px;
    border: 1px solid white;
  }

  &__dropdown-item{
    text-decoration: none;
    color: white;
    border: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    padding: 0 15px;
    margin: 0;
    border-bottom: 1px solid white;
    z-index: 10;
    &:hover{
      background: #ff7105;
    }
  }
}
@media (max-width: 600px) {
  .content, .nav-profile {
    justify-content: space-evenly;
  }
  .nav-profile__dropdown-toggle{
    padding: 10px;
  }
}
