/* You can add global styles to this file, and also import other style files */
@import "styles/index";

*, *:before, *:after{
  box-sizing: border-box;
}
body{
  font-family: "Arial";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  margin: 0;
  color: #4b4b4b;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

main{
  position: relative;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.sub-nav-wrap{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
