.create-course{
  margin: 50px auto 21px;
  padding: 25px;
  background-color: #FFF;
  border: 1px solid #ddd;
  border-radius: 2px;
  position: relative;
  box-shadow: none;
  text-align: center;
  max-width: 600px;

  &:hover{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
  }

  &__title{
    font-family: 'Arial';
    font-weight: 300;

  }

}
